* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f3f3f3;
}

.topo {
    width: 375px;
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    margin-bottom: 5px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.topo ion-icon {
    font-size: 40px;
}

.container-msgs {
    margin-top: 90px;
    margin-bottom: 90px;
    width: 375px;
    height: 100%;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    overflow-wrap: break-word;
}

.container-msgs li {
    padding: 5px;
    border-radius: 2px;
    min-height: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 4px 0;
}

.status-msg {
    background-color: #DCDCDC;
}

.normal-msg {
    background-color: #FFFFFF;
}

.private-msg {
    background-color: #FFDEDE;
}

.hora {
    color: #aaaaaa;
}

.user, .destinatario {
    font-weight: 700;
}


span {
    max-width: 370px;
}  


.bottom-msg {
    width: 375px;
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom-msg ion-icon {
    font-size: 26px;
    margin-right: 10px;
    cursor: pointer;
}

.bottom-msg input {
    width: 320px;
    height: 50px;
    margin-left: 10px;
    border: 0;
}

input:focus {
    outline: none;
}

::-webkit-input-placeholder {
    font-style: italic;
 }
 :-moz-placeholder {
    font-style: italic;  
 }
 ::-moz-placeholder {
    font-style: italic;  
 }
 :-ms-input-placeholder {  
    font-style: italic; 
 }